{% extends "base.html.twig" %}

{% block title %} Super Madeleine - Accueuil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
        <h1 class="display-4">Bienvenu sur le site de Super Madeleine </h1>
        <p class="lead">Super Madeleine est une application de recettes de cuisine et pas seulement de dessert ! Vous pourrez partager des recettes avec la communauté du site ou tout simplement les garder en privé. </p>
        <hr class="my-4">
        <p>Pour bien démarrer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
        <a class="btn btn-primary btn-lg" href="" role="button">Inscription</a>
        </div>
    </div>
{% endblock %}


