{% extends "base.html.twig" %}

{% block title %} Super Madeleine - Accueuil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur le site de Super Madeleine </h1>
        <p class="lead">Super Madeleine est une application de recettes de cuisine et pas seulement de desserts ! Vous pourrez partager des recettes avec la communauté du site ou tout simplement les garder en privé. </p>
        <hr class="my-4">
        <p>Pour bien démarrer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
        <a class="btn btn-primary btn-lg" href=" {{ path('security.registration') }}" role="button">Inscription</a>
        </div>

         <div class="recipes">
        <h2 class="mt-4"> Recettes partagées </h2>
            <div class="d-flex justify-content-between mt-4">
        
            {% for recipe in recipes %}
            <div class="card border-primary mb-3 mr-3 mt-4" style="max-width: 20rem;">
                <div class="card-header">Recette n° {{ recipe.id }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ recipe.name }}</h4>
                    <p class="card-text">{{ recipe.description|slice(0,100) }} </p>
                </div>
            </div>

            {% endfor %}
        </div>
    
    </div>


    </div>

   
{% endblock %}


